.classification-banner {
  z-index: 1;
  position: fixed;
  display: always;
}
.navigation {
  background-color: #070675;
  overflow: hidden;
}
.navigation a {
  float 
}
.navigation a:hover {
  background-color: #d4af37;
  color: #070675;
}
.navigation a.active {
  background-color: #d4af37;
  color: #070675;
}
